@model IEnumerable<Insurrance.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>All Customers</h1>

@if (User.IsInRole("Add New Customer"))
 {
                                    
<p>
    <a asp-action="Create" class="btn btn-success col-md-4">Add New Customer</a>
</p>
 }
<div class="col-md-4 offset-8">
    <input type="text" class="form-control" id="Search" placeholder="Search Here"/>
    <br />
 </div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
           
            
            <th>
                @Html.DisplayNameFor(model => model.PhoneN1)
            </th>
            
           
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody id="TableBody">
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhoneN1)
            </td>
         
            <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>

                    @if (User.IsInRole("Edit Customer Data"))
                    { 
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>

                    }@if (User.IsInRole("Customer Details"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" title="Detail"><i class="fa-solid fa-circle-info"></i></a>

                    }@if (User.IsInRole("Add New Car"))
                    {
                        <a asp-action="Create" asp-controller="CarDetails" asp-route-Custid="@item.Id" class="btn btn-primary" title="Add New car" ><i class="fa-solid fa-plus"></i></a>

                    }@if (User.IsInRole("View Customer Cars"))
                    {
                    <a asp-action="Cars" asp-controller="CarDetails" asp-route-id="@item.Id" class="btn btn-primary" title="View car" ><i class="fa-solid fa-car-side"></i></a>
                    }
                    </td>
        </tr>
}
    </tbody>
</table>


@section scripts {
  
    <script>
        $(document).ready(function () {
            $("#Search").on("keyup", function () {

               
            
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7293/CustomerSearch?Search=" + this.value,
                    success: function (response) {
                        $('#TableBody').empty();
                        $.each(response, function (key, value) {
                            $('#TableBody').append(
                                '<tr>' +
                                '<td>' + value.id + '</td>' + 
                                '<td>' + value.custName + '</td>' +
                                '<td>' + value.phoneN1 + '</td>' +
                                '<td>' + value.status.name + '</td>' +
                                '<td><a href="/Customers/Edit?id=' + value.id + '" class="btn btn-primary" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a> ' +
                                '<a href="/Customers/Details?id=' + value.id + '" class="btn btn-primary" title="Detail"><i class="fa-solid fa-circle-info"></i></a> ' +
                                '<a href="/CarDetails/Create?Custid' + value.id + '" class="btn btn-primary" title="Add New car" ><i class="fa-solid fa-plus"></i></a> ' +
                                '<a href="/CarDetails/Cars/' + value.id + '" class="btn btn-primary" title="View car" ><i class="fa-solid fa-car-side"></i></a></td> ' +
                                '</tr>'
                            );
                        })

                    },
                    error: function (response) {
                        alert("Access Denied");
                    }
                });

            });



        });
    </script>
}